<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <a href="/" class="navabar-brand"><img src="/img/Logo.png" width="120" height="79.09"></a>
    <%if(render == 1){%>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Início</a>
                </li>
            </div>
        </div>
    <%}%>
    
</nav>