<nav class="navbar navbar-expand-lg navbar-light bg-white mb-4">
    <a href="/" class="navabar-brand"><img src="/img/Logo.png" width="120" height="79.09"></a>
    <% if(navbar == 1){ %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex align-items-center">

                <a href="/jobs" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/handshake.png" width="55" height="34.76">
                        <strong>Vagas</strong>
                    </div>
                </a>
                
                <span class="nav-item ml-3 mr-3 collapse navbar-collapse" style="border-left: 3px solid #828586 ; font-size: 13pt;"> </span>

                <a class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none; font-size: 13pt;" href="/users/register"><strong>Cadastre-se agora</strong></a>
                <a class="nav-item btn btn-md btn-primary ml-3 mr-3 collapse navbar-collapse" style="font-size: 13pt;" href="/login"><strong>Entrar</strong></a>
                <a class="nav-item text-primary collapse" id="navbarNavAltMarkup" style="font-size: 13pt;" href="/login"><strong>Entrar</strong></a>
            </div>
        </div>
    <% } %>
    <% if(navbar == 2){ %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex align-items-center">

                <a href="/favorites" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/filled-star.png" width="55" height="34.76"> 
                        <strong>Salvos</strong>
                    </div>  
                </a>

                <a href="/opportunities" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/clipboard.png" width="55" height="34.76"> 
                        <strong>Oportunidades</strong>
                    </div>  
                </a>

                <a href="/jobs" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/handshake.png" width="55" height="34.76">
                        <strong>Vagas</strong>
                    </div>
                </a>
                <a href="/users/perfil" class="nav-item text-primary ml-3 mr-3" style="font-size: 13pt; text-decoration: none;">
                    <div class="d-flex align-items-center">
                        <img class="mr-1 collapse navbar-collapse" src="/img/user.png" width="45" height="45">
                        <strong class="collapse navbar-collapse"><%=session.firstName%></strong>
                        <strong class="collapse" id="navbarNavAltMarkup">Perfil</strong>
                    </div>
                </a>
                
            </div>
        </div>
    <% } %>
    <% if(navbar == 3){ %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
            <div class="navbar-nav d-flex align-items-center">

                <a href="/candidates" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/candidates.png" width="55" height="34.76"> 
                        <strong>Candidatos</strong>
                    </div>  
                </a>

                <a href="/jobs/register" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/plus.png" width="55" height="34.76"> 
                        <strong style="white-space: nowrap">Criar Vaga</strong>
                    </div>  
                </a>

                <a href="/jobs" class="nav-item text-secondary ml-3 mr-3" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <img class="collapse navbar-collapse" src="/img/handshake.png" width="55" height="34.76">
                        <strong>Vagas</strong>
                    </div>
                </a>

                <div class="nav-item dropdown collapse navbar-collapse">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
                        <button class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="d-flex align-items-center">
                                <img class="mr-1 collapse navbar-collapse" src="/img/user.png" width="45" height="45">
                                <strong class="collapse navbar-collapse text-primary"><%=session.firstName%></strong>
                                <strong class="collapse" id="navbarNavAltMarkup">Perfil</strong>
                            </div>
                        </button>
                    </a>
                    <div class="dropdown-menu">
                        <a href="/users/profile" class="dropdown-item">Perfil</a>
                        <a href="/users/profile" class="dropdown-item">Sair</a>
                    </div>
                </div>
                
                <a href="/users/profile" class="nav-item text-secondary ml-3 mr-3 collapse" id="navbarNavAltMarkup" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <strong>Perfil</strong> 
                    </div>
                </a>

                <a href="/users/profile" class="nav-item text-secondary ml-3 mr-3 collapse" id="navbarNavAltMarkup" style="text-decoration: none;">
                    <div class="row col-12 d-flex flex-column justify-content-center align-items-center">
                        <strong>Sair</strong> 
                    </div>
                </a>
        
                
                <!--                
                <div class="dropdown nav-item">
                    <button class="btn bg-transparent dropdown-toggle" data-bs-toggle="dropdown" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        <div class="d-flex align-items-center">
                            <img class="mr-1 collapse navbar-collapse" src="/img/user.png" width="45" height="45">
                            <strong class="collapse navbar-collapse text-primary"><%=session.firstName%></strong>
                            <strong class="collapse" id="navbarNavAltMarkup">Perfil</strong>
                        </div>
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a href="/users/profile" class="dropdown-item">Perfil</a></li>
                        <li><a href="/users/profile" class="dropdown-item">Sair</a></li>
                    </ul>
                </div>-->
                
                <a href="/users/perfil" class="nav-item text-primary ml-3 mr-3" style="font-size: 13pt; text-decoration: none;">
                    
                </a>
            </div>
        </div>
    <% } %>
</nav>
