.type-1{
    margin-left: 25px;
}
.type-0{
    margin-left: 10px;
}
.jobs::-webkit-scrollbar {width: 0! important}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }