.type-1{
    margin-left: 25px;
}
.type-0{
    margin-left: 10px;
}
.jobs::-webkit-scrollbar {width: 0! important}

.dropdown-toggle::after {
  content: none;
}
.dropdown-menu a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #0058b6;
}

select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }