<%- include ('../../partials/header.ejs') %>
<body>
    <%- include ('../../partials/navbar.ejs') %>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <section class="col-12 col-sm-6 col-md-4 shadow p-3 mb-5 bg-white rounded">
                <form class="form-container" method="POST" action="/authenticate">
                    <h2 class="text-left"><strong>Login</strong></h2><br>

                    <div class="form-group">
                        <input class="form-control" type="text" name="email" placeholder="Email"><br>
                    </div>

                    <div class="form-group">
                        <input class="form-control" type="password" name="senha" placeholder="Senha"><br>
                        <a class="text-primary" href="/users/restore"><strong>Esqueceu sua senha?</strong></a>
                    </div>

                    <button class="btn btn-primary btn-block">Entrar</button>
                </form>
            </section>
        </div>    
        <div class="row">
            <hr class="col-3">ou<hr class="col-3">
        </div><br>
        <div class="row d-flex justify-content-center">
            <div>
                Não tem uma conta? <a href="/" class="text-primary"><strong>Cadastre-se</strong></a>
            </div> 
        </div>
    </div>
</body>
<%- include ('../../partials/footer.ejs') %>